/* Шрифта Repo на Стефан Пеев от www.fontlibrary.org */
@font-face {
  font-family: 'RepoRegular';
  src: url('RepoRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'RepoRegular';
  font-weight: normal;
  font-style: normal;
}

body > * {
  padding-left: 20px;
  padding-right: 20px;
}

main {
  flex-grow: 1;
}

nav {
  background-color: var(--color-blue-1);
  color: var(--color-blue-5);
}

nav .button {
  background-color: var(--color-yellow-3);
  color: var(--color-yellow-5);
}

header, main h1, h2, h3, h4 {
  color: var(--color-green-4);
}

main {
  color: var(--color-green-5);
}

main a {
  color: var(--color-green-3);
}

main table th {
  background-color: var(--color-green-4);
}

main table tr:nth-child(2n) {
  background-color: var(--color-green-1);
}

main article.card header {
  background-color: var(--color-green-6);
  color: var(--color-green-5);
  text-align: center;
}

main article.card footer {
  background-color: var(--color-green-4);
  text-align: center;
}

main article.card footer a {
  color: var(--color-green-1);
}

body > footer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.7em;
  flex-shrink: 0;
  background-color: var(--color-brown-1);
  color: var(--color-brown-5);
  text-align: center;
}

body > footer > a {
  color: var(--color-brown-3);
}

article > header {
  font-size: 0.7em;
  background-color: #f5f5f5;
}

.icon {
  height: 1.5em;
}

.responsive-image {
  width: 100%;
  max-width: 512px;
  height: auto;
}

/* за скритите отговори */
.hoverAnswer {
  opacity: 0;
  transition: 1s;
}

.hoverKey:hover + .hoverAnswer {
  opacity: 1;
  transition: 1s;
}

.zadachaNomer, .hoverKey {
  opacity: 0.4;
}

.blue-text {
  color: var(--color-blue-4);
}
.yellow-text {
  color: var(--color-yellow-3);
}
.green-text {
  color: var(--color-green-4);
}
.brown-text {
  color: var(--color-brown-3);
}